:host {
  padding: 50px 30px;
  display: inline-block;
}
.movie-box {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

.movie-box .movie-title {
  font-size: 17px;
  font-weight: bold;
}
