
<div class="movie-box">
 
  <div>
    <img width="450" [alt]="movie?.movieName" [src]="movie?.largeImgURL" />
  </div>
  <div class="movie-details">
    <h3>{{ movie?.movieID }}</h3>
    <h1 class="movie-title">{{ movie?.movieName }}</h1>
     
<app-tomato-card [tomatoScore]="movie?.tomatoScore">
  <span rating>{{ movie?.mpaaRating }}</span>
  <div>{{ movie?.releaseDate }}</div>
</app-tomato-card>
    <p>{{ movie?.description }}</p>
  </div>
  <button class="home-button" [routerLink]="['/home']">home</button>
</div>


